.box{
    width: 100%;
    display: flex;
    justify-content: center;
    // flex-direction: column;
position: relative;
    flex: auto;
}

.testarea{
    padding: 15px;
    width: 100%;
    overflow: auto;
    height: calc(100vh-50px);
}
.top{
       align-items: center;
    display: flex;
    padding-bottom: 15px;
}